[user]
  name = Al Dee
  email = amyalicedee@gmail.com
[core]
  excludesfile = ~/.gitignore

[push]
  default = simple
[alias]
  br = branch
  ci = commit
  co = checkout
  dh = diff HEAD
  amend = commit --amend
  lol = log --pretty=oneline --abbrev-commit --graph --decorate
  st = status
  g = grep --break --heading --line-number
  gi = grep --break --heading --line-number --ignore-case
  cleanup = "!git branch --merged | grep -v \"\\*\" | grep -v master | grep -v dev | xargs -n 1 git branch -d"
  fpp = "!git st | fpp"
  git = "!git"

[init]
  defaultBranch = main
[pull]
  rebase = true
[rebase]
  autostash = true
